body{
    padding: 0;
    margin: 0;
    background-color: black;
    color: hsl(0, 0%, 100%);

}
.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

 }
 .logo img{
    width:60%;
 }
 .header a{
    padding: 10px;
    text-decoration: none;
    color: azure;}
 a:hover{  color: #d99605;
    transition: 0.5s;}

 .content{
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

 }
 .text2{
    width: 60%;
 }
 .content img{
    border: solid #f8f8f8;
    border-radius: 5px;
    bordeer-color:
}
H1:hover{
    color: #d99605;
    transition: 0.5s;
 }
 span:hover{
    color: #d99605;
    transition: 0.5s;
 }
 img:hover{
    border-color: #d99605;
    transition: 0.5s;
 }
