body {
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  direction: rtl;
}
.card {
  background-color: #2E6EFF;
  width: 90%;
  max-width: 400px;
  padding: 30px 25px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.container {
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #FFFFFF;
}

label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  font-size: 16px;
}

input[type="submit"] {
  margin-top: 20px;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

small {
  color: #FFFFFF;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 10px;
}